.example-container {
    width: 100%;
    height: 92vh;
    background-color: transparent;
  }
  
  .mat-drawer__checkboxes{
    flex-direction: column;
  }

  .example-sidenav-content {
    display: flex;
    height: 20%;
    align-items: top;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px 20px 20px 20px;
  }

  .filter__title{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 500;

  }