.li-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.li-container ul {
  list-style: none;
  margin: 5px;
  padding: 0;
  column-count: 2;
  column-gap: 0;
}

.li-container ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.el-current {
  background: #ffffff;
  border: 0.5px solid var(--color-space-gray);
  border-radius: 5px;
  margin-bottom: 10px;
}

.current_text {
  font-weight: 400;
  font-size: 15px;
  color: var(--color-dark-gray);
}
.current_value {
  font-weight: 500;
  font-size: 15px;
  color: var(--color-primary);
}

.li-info {
}

.btn-extra {
  display: flex;
  border: 0;
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  padding: 0;
  border-radius: 50%;
}

.btn-extra:hover {
  background-color: #d9d9d9;
}

.dot-extra-icon {
  color: var(--dark-gray);
  margin: 0;
  transform: scale(0.9);
}

.clear-icon {
  color: red;
}

@media (max-width: 400px) {
  .current_text {
    font-size: 13px;
  }
  .current_value {
    font-size: 13px;
  }
}
