<main class="main">
    <div class="bottom-sheet__container container">
      <div class="row">
        <div class="col p-2 p-sm-4">
            <h2 class="bottom-sheet__title text-center">Место {{ id.id }}</h2>
          <div class="bottom-sheet__graph mb-3 text-center">
            <app-book-graph></app-book-graph>
          </div>
          <div class="bottom-sheet__row row">
            <button class="col-5 bottom-sheet__button-about btn-reset btn">
              Подробнее
            </button>
            <button class="col-5 bottom-sheet__button-accept btn-reset btn btn-primary">
              Забронировать
            </button>
          </div>
        </div>
      </div>
    </div>
</main>
  